:root {
    --serif: 'Cormorant Garamond', Georgia, serif;
    --sans: 'Jost', sans-serif;
    --ease: cubic-bezier(0.25, 0.46, 0.45, 0.94);

    --accent: #C1685A;
    --white: #F2F2F2;
    --max-width-page: 1300px;

}

[data-theme="dark"] {
    /* --background-image: url(/src/assets/dark-theme-bg.jpg); */
    --body-bg-image: url(/src/assets/dark-theme-bg.jpg);
    --body-bg-color: #040A12;
    --body-text-color: var(--white);

    /*white transparent navbar */
    /* --navbar-bg-color: rgba(245, 242, 237, 0.07);
    --navbar-border-color: rgba(26, 20, 14, 0.1);
    --navbar-link-bg-color: rgba(245, 242, 237, 0.2); */
    --navbar-bg-color: rgba(0, 0, 0, 0.5);
    --navbar-border-color: rgba(242, 242, 242, 0.4);
    --navbar-link-color: #C4C1D2;
    --navbar-link-color-hover: var(--white);
    --navbar-link-color-active: var(--white);
    --navbar-link-bg-color-active: rgba(176, 136, 99, 0.8);
    --navbar-link-bg-color-active-hover: #9E9088;
    --navbar-social-link-color-hover: var(--white);

    --mobile-navbar-bg-color: #040A12;
    --mobile-navbar-toggle-btn-bg-color: #F2F2F2;

    --hero-heading-color: rgba(245, 242, 237, 0.8);
    --hero-eyebrow-text-color: rgba(197, 194, 211, 0.4);
    --hero-text-color: rgba(245, 242, 237, 0.6);

    --footer-bg-color: #040A12;
    --footer-text-color: #C4C1D2;

}

[data-theme="light"] {
    /* --background-image: url(/src/assets/light-theme-bg.jpg); */
    --body-bg-image: url(/src/assets/light-theme-bg.jpg);
    --body-bg-color: #E3E1DD;
    --body-text-color: #4E4749;

    /* rgb(170, 100, 24) */
    --navbar-bg-color: rgba(242, 242, 242, 0.8);
    --navbar-border-color: var(--white);
    --navbar-link-color: #7F7C87;
    --navbar-link-color-hover: #2D3742;
    --navbar-link-color-active: var(--white);
    --navbar-link-bg-color-active: rgba(45, 55, 66, 0.8);
    --navbar-link-bg-color-active-hover: #9E9088;
    --navbar-social-link-color-hover: #4E4749;

    --mobile-navbar-bg-color: #E3E1DD;
    --mobile-navbar-toggle-btn-bg-color: #4E4749;

    --hero-heading-color: #4E4749;
    --hero-eyebrow-text-color: rgba(135, 103, 88, 0.4);
    --hero-text-color: #4E4749;

    --footer-bg-color: var(--white);
    --footer-text-color: #4E4749;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;

    background: var(--body-bg-color) var(--body-bg-image) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: var(--text-primary);
    font-family: var(--sans);
    font-weight: 400;
    color: var(--body-text-color);

    overflow-x: hidden;
}

body::after {
    content: '';
    position: block;
    /*height: 60px;*/
    /* set same height as the footer */
    /*inset: 0;
    pointer-events: none;*/
    z-index: 0;
}

/* ── HEADER ── */
.navbar {
    height: 50px;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    padding: 0 calc((100% - var(--max-width-page))/2);
    background-color: var(--navbar-bg-color);
    backdrop-filter: blur(20px) saturate(1.2);
    border-bottom: 1px solid var(--navbar-border-color);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
    /*display: flex;*/
    justify-content: space-between;
    align-items: center;
    /*width: 100%;*/
}

.nav-links,
.nav-theme-toggle {
    list-style: none;
    display: flex;
}


.navbar .nav-links li a {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.2em;
    color: var(--navbar-link-color);
    transition: color 0.3s ease;
    padding: 1rem 2rem;
}

.navbar .nav-links li a:hover,
#navigation-mobile-menu .nav-links li a:hover,
.nav-theme-toggle a:hover,
#navigation-menu-btn:hover {
    color: var(--navbar-link-color-hover);
}

.navbar .nav-links li a.active,
#navigation-mobile-menu .nav-links li a.active {
    color: var(--navbar-link-color-active);
    background-color: var(--navbar-link-bg-color-active);
}

.navbar .nav-links li a.active:hover,
#navigation-mobile-menu .nav-links li a.active:hover {
    color: var(--navbar-link-color-active);
    background-color: var(--navbar-link-bg-color-active-hover);
}

.nav-theme-toggle a {
    cursor: pointer;
    margin-left: 2rem;
    padding: 0 0.5rem;
    color: var(--navbar-link-color);
    transition: color 0.3s ease;
}

.nav-x {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    text-decoration: none;
    color: var(--navbar-link-color);
    letter-spacing: 0.1em;
    font-weight: 400;
    transition: color 0.3s ease;
}

.nav-x:hover {
    color: var(--navbar-social-link-color-hover);
}

.nav-x>svg {
    width: 16px;
    height: 16px;
}

.nav-x>.nav-handle {
    display: inline;
}

#navigation-menu-btn {
    display: flex;
    cursor: pointer;
    padding: 0 0.5rem;
    color: var(--navbar-link-color);
    transition: color 0.3s ease;
}

.nav-theme-toggle .icon,
#navigation-menu-btn .icon {
    width: 24px;
    height: 24px;
}

#navigation-menu-btn {
    display: none;
}

:has(#navigation-menu-btn[aria-expanded="true"]) #navigation-mobile-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    background: var(--mobile-navbar-bg-color);
    height: 100%;
    z-index: 1001;
}

:has(#navigation-close-btn[aria-expanded="false"]) #navigation-mobile-menu {
    display: none;
}

#navigation-mobile-menu {
    display: none;
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.5);
}

#navigation-mobile-menu .nav-row {
    display: flex;
    justify-content: end;
    width: 100%;
}

#navigation-close-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 1.2rem;
}

#navigation-close-btn .icon {
    width: 24px;
    height: 24px;
}

#navigation-close-btn span {
    color: var(--mobile-navbar-toggle-btn-bg-color);
    margin-left: 0.4rem;

}

#navigation-mobile-menu .nav-links {
    flex-direction: column;
    flex-grow: 1;
}

#navigation-mobile-menu .nav-links li a {
    display: flex;
    text-decoration: none;
    font-weight: 500;
    color: var(--navbar-link-color);
    transition: color 0.3s ease;
    padding: 2rem 1.2rem;
}

.mobile-dark-light-toggle-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.6rem 3rem;
    color: var(--mobile-navbar-bg-color);
    background-color: var(--mobile-navbar-toggle-btn-bg-color);
}

.mobile-dark-light-toggle-btn .icon {
    width: 70px;
    height: 70px;
}

.mobile-dark-light-toggle-btn span {
    margin-left: 1rem;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}







/* ── HERO ── */
.hero {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 160px calc((100% - var(--max-width-page))/2) 80px;
    /*padding: 160px 3rem 80px;*/
}

.hero .hero-eyebrow {
    font-size: clamp(0.7rem, 1.6vw + -.1rem, 0.8rem);
    /*font-size: 0.8rem;*/
    font-weight: 500;
    letter-spacing: 0.4em;
    color: var(--hero-eyebrow-text-color);
    margin-bottom: 0.4rem;
    /*
    opacity: 0;
    animation: fadeUp 0.8s 0.2s forwards;*/
}

.hero .hero-title {
    font-family: var(--serif);
    font-size: clamp(3rem, 6vw, 5.5rem);
    font-weight: 300;
    line-height: 1.05;
    letter-spacing: -0.01em;
    color: var(--hero-heading-color);
    margin-bottom: 2rem;
    /*opacity: 0;
    animation: fadeUp 0.8s 0.35s forwards;*/
}

.hero h1 em {
    font-style: italic;
    color: var(--accent);
}

.hero-sub {
    font-size: 0.85rem;
    letter-spacing: 0.06em;
    color: var(--hero-text-color);
    margin-top: 1rem;
    /*opacity: 0;
    animation: fadeUp 0.8s 0.5s forwards;*/
}

/* ── LIGHTBOX ── */
#lightbox {
    position: fixed;
    inset: 0;
    z-index: 200;
    background: #CABBB8;
    background: linear-gradient(0deg, rgba(202, 187, 184, 0.8) 0%, rgba(0, 0, 0, 0.9) 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    backdrop-filter: blur(20px);
}

#lightbox.open {
    opacity: 0.9;
    pointer-events: all;
}

/* ── FOOTER ── */
footer {
    position: absolute;
    bottom: 0;
    /* height: 60px; */
    width: 100%;
    background: var(--footer-bg-color);
    padding: 30px 0;
}

.footer-content {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content>p {
    color: var(--footer-text-color);
    font-size: 0.9rem;
    letter-spacing: 0.02em;
}

.footer-content a {
    color: var(--accent);
    text-decoration: none;
}

/* TODO for photo album columns */
@media (max-width: 1300px) {

    .navbar {
        padding: 0 2rem;
    }

    .navbar .nav-links li a {
        padding: 1rem;
    }

    .nav-theme-toggle a {
        margin-left: 1rem;
    }

    .hero {
        padding: 160px 3rem 80px;
    }
}

@media (max-width:900px) {
    .navbar {
        padding: 0 1rem;
    }
}

@media (max-width:750px) {
    .navbar .nav-links {
        display: none;
    }

    #navigation-menu-btn {
        display: flex;
    }

    /*.nav-links {
        position: absolute;
        display: block;
    }*/

    .hero {
        padding: 160px 1rem 80px;
    }





}

/*@media (max-width:600px) {}

@media (max-width: 480px) {}

@media (max-width: 360px) {}*/