:root {
    --serif: 'Cormorant Garamond', Georgia, serif;
    --sans: 'Jost', sans-serif;
    --ease: cubic-bezier(0.25, 0.46, 0.45, 0.94);

    --accent: #C1685A;
    --white: #F2F2F2;
    --black: #1A140E;
    /* 3 shades of grey, 3 is darkest */
    --grey-1: #C5C2D3;
    --grey-2: #7F7C87;
    --grey-3: #4E4749;
    --max-width-page: 1300px;

    --card-main-text-color: #ffffff;
    --card-subtext-color: rgba(255, 255, 255, 0.7);

}

[data-theme="dark"] {
    /* --background-image: url(/src/assets/dark-theme-bg.jpg); */
    /* --body-bg-image: url(/images/dark_theme3.jpg); */
    --body-bg-color: #040A12;
    --body-text-color: var(--white);

    /*white transparent navbar */
    /* --navbar-bg-color: rgba(245, 242, 237, 0.07);
    --navbar-border-color: rgba(26, 20, 14, 0.1);
    --navbar-link-bg-color: rgba(245, 242, 237, 0.2); */
    --navbar-bg-color: rgba(0, 0, 0, 0.5);
    --navbar-border-color: rgba(242, 242, 242, 0.4);
    --navbar-link-color: #C4C1D2;
    --navbar-link-color-hover: var(--white);
    --navbar-link-color-active: var(--white);
    --navbar-link-bg-color-active: rgba(176, 136, 99, 0.8);
    --navbar-link-bg-color-active-hover: #9E9088;
    --navbar-social-link-color-hover: var(--white);

    --mobile-navbar-bg-color: #040A12;
    --mobile-navbar-toggle-btn-bg-color: #F2F2F2;

    --hero-heading-color: rgba(245, 242, 237, 0.8);
    --hero-eyebrow-text-color: rgba(197, 194, 211, 0.4);
    --hero-text-color: rgba(245, 242, 237, 0.6);

    --count-text-color: rgba(245, 242, 237, 0.7);

    --qr-badge-bg-color: rgba(26, 20, 14, 0.8);
    --qr-badge-text-color: #C5C2D3;

    /* --footer-bg-color: #040A12; */
    --footer-border-color: rgba(242, 242, 242, 0.1);
    --footer-text-color: #C4C1D2;

}

[data-theme="light"] {
    /* --background-image: url(/src/assets/light-theme-bg.jpg); */
    /* --body-bg-image: url(/images/light-theme-bg.jpg); */
    --body-bg-color: #E3E1DD;
    --body-text-color: #4E4749;

    /* rgb(170, 100, 24) */
    --navbar-bg-color: rgba(242, 242, 242, 0.8);
    --navbar-border-color: var(--white);
    --navbar-link-color: #7F7C87;
    --navbar-link-color-hover: #2D3742;
    --navbar-link-color-active: var(--white);
    --navbar-link-bg-color-active: rgba(45, 55, 66, 0.8);
    --navbar-link-bg-color-active-hover: #9E9088;
    --navbar-social-link-color-hover: #4E4749;

    --mobile-navbar-bg-color: #E3E1DD;
    --mobile-navbar-toggle-btn-bg-color: #4E4749;

    --hero-heading-color: #4E4749;
    --hero-eyebrow-text-color: rgba(135, 103, 88, 0.4);
    --hero-text-color: #4E4749;

    --count-text-color: rgba(78, 71, 73, 0.8);

    --qr-badge-bg-color: rgba(242, 242, 242, 0.8);
    --qr-badge-text-color: #4E4749;

    /* --footer-bg-color: transparent; */
    --footer-border-color: rgba(78, 71, 73, 0.1);
    --footer-text-color: #4E4749;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    text-align: inherit;
    letter-spacing: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;

    background: var(--body-bg-color);
    /* background: var(--body-bg-color) var(--body-bg-image) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: var(--text-primary);
    font-family: var(--sans);
    font-weight: 400;
    color: var(--body-text-color);

    overflow-x: hidden;
}

body::after {
    content: '';
    position: block;
    /*height: 60px;*/
    /* set same height as the footer */
    /*inset: 0;
    pointer-events: none;*/
    z-index: 0;
}

/* ── HEADER ── */
.navbar {
    height: 50px;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    padding: 0 calc((100% - var(--max-width-page))/2);
    background-color: var(--navbar-bg-color);
    backdrop-filter: blur(20px) saturate(1.2);
    border-bottom: 1px solid var(--navbar-border-color);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
    /*display: flex;*/
    justify-content: space-between;
    align-items: center;
    /*width: 100%;*/
}

.nav-links,
.nav-theme-toggle {
    list-style: none;
    display: flex;
}


.navbar .nav-links li a {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.2em;
    color: var(--navbar-link-color);
    transition: color 0.3s ease;
    padding: 1rem 2rem;
}

.navbar .nav-links li a:hover,
#navigation-mobile-menu .nav-links li a:hover,
.nav-theme-toggle a:hover,
#navigation-menu-btn:hover {
    color: var(--navbar-link-color-hover);
}

.navbar .nav-links li a.active,
#navigation-mobile-menu .nav-links li a.active {
    color: var(--navbar-link-color-active);
    background-color: var(--navbar-link-bg-color-active);
}

.navbar .nav-links li a.active:hover,
#navigation-mobile-menu .nav-links li a.active:hover {
    color: var(--navbar-link-color-active);
    background-color: var(--navbar-link-bg-color-active-hover);
}

.nav-theme-toggle a {
    cursor: pointer;
    margin-left: 2rem;
    padding: 0 0.5rem;
    color: var(--navbar-link-color);
    transition: color 0.3s ease;
}

.nav-x {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    text-decoration: none;
    color: var(--navbar-link-color);
    letter-spacing: 0.1em;
    font-weight: 400;
    transition: color 0.3s ease;
}

.nav-x:hover {
    color: var(--navbar-social-link-color-hover);
}

.nav-x>svg {
    width: 16px;
    height: 16px;
}

.nav-x>.nav-handle {
    display: inline;
}

#navigation-menu-btn {
    display: flex;
    cursor: pointer;
    padding: 0 0.5rem;
    color: var(--navbar-link-color);
    transition: color 0.3s ease;
}

.nav-theme-toggle .icon,
#navigation-menu-btn .icon {
    width: 24px;
    height: 24px;
}

#navigation-menu-btn {
    display: none;
}

:has(#navigation-menu-btn[aria-expanded="true"]) #navigation-mobile-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    background: var(--mobile-navbar-bg-color);
    height: 100%;
    z-index: 1001;
}

:has(#navigation-close-btn[aria-expanded="false"]) #navigation-mobile-menu {
    display: none;
}

#navigation-mobile-menu {
    display: none;
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.5);
}

#navigation-mobile-menu .nav-row {
    display: flex;
    justify-content: end;
    width: 100%;
}

#navigation-close-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 1.2rem;
}

#navigation-close-btn .icon {
    width: 24px;
    height: 24px;
}

#navigation-close-btn span {
    color: var(--mobile-navbar-toggle-btn-bg-color);
    margin-left: 0.4rem;

}

#navigation-mobile-menu .nav-links {
    flex-direction: column;
    flex-grow: 1;
}

#navigation-mobile-menu .nav-links li a {
    display: flex;
    text-decoration: none;
    font-weight: 500;
    color: var(--navbar-link-color);
    transition: color 0.3s ease;
    padding: 2rem 1.2rem;
}

.mobile-dark-light-toggle-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.6rem 3rem;
    color: var(--mobile-navbar-bg-color);
    background-color: var(--mobile-navbar-toggle-btn-bg-color);
}

.mobile-dark-light-toggle-btn .icon {
    width: 70px;
    height: 70px;
}

.mobile-dark-light-toggle-btn span {
    margin-left: 1rem;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}







/* ── HERO ── */
.hero {
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 160px calc((100% - var(--max-width-page))/2) 60px;
    /*padding: 160px 3rem 80px;*/
}

.hero .hero-eyebrow {
    font-size: clamp(0.7rem, 1.6vw + -.1rem, 0.8rem);
    /*font-size: 0.8rem;*/
    font-weight: 500;
    letter-spacing: 0.4em;
    color: var(--hero-eyebrow-text-color);
    margin-bottom: 0.4rem;
    /*
    opacity: 0;
    animation: fadeUp 0.8s 0.2s forwards;*/
}

.hero .hero-title {
    font-family: var(--serif);
    font-size: clamp(3rem, 6vw, 5.5rem);
    font-weight: 300;
    line-height: 1.05;
    letter-spacing: -0.01em;
    color: var(--hero-heading-color);
    /*opacity: 0;
    animation: fadeUp 0.8s 0.35s forwards;*/
}

.hero h1 em {
    font-style: italic;
    color: var(--accent);
}

.hero-sub {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: var(--hero-text-color);
    margin-top: 2rem;
    /*opacity: 0;
    animation: fadeUp 0.8s 0.5s forwards;*/
}

/* ── LIGHTBOX ── */
#lightbox {
    position: fixed;
    inset: 0;
    z-index: 200;
    background: #CABBB8;
    background: linear-gradient(0deg, rgba(202, 187, 184, 0.8) 0%, rgba(0, 0, 0, 0.9) 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    backdrop-filter: blur(20px);
}

#lightbox.open {
    opacity: 0.9;
    pointer-events: all;
}

/* ── MAKEUP TUTORIALS CONTENT ── */
#makeup-tutorials-container,
#photo-album-container {
    margin: 0 calc((100% - var(--max-width-page))/2) 10rem;
    display: flex;
    flex-direction: column;
}

.total {
    font-size: 1.1rem;
    letter-spacing: 0.3rem;
    margin-bottom: 1.6rem;
    text-align: right;
    font-weight: 500;
    color: var(--count-text-color);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#makeup-tutorials-container .grid {
    gap: 16px;
}

#makeup-tutorials-container .tutorial-card {
    break-inside: avoid;
    display: block;
    margin: 0 auto 30px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 0 0;
}

#makeup-tutorials-container .tutorial-card a {
    display: flex;
    width: 100%;
}


#makeup-tutorials-container .tutorial-card img,
#photo-album-container .photo-card img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    overflow: hidden;
    transition: filter 0.4s ease, transform 0.5s ease;
    z-index: 1;
}

.tutorial-card:hover img,
.photo-card:hover img {
    filter: brightness(1.05) saturate(1.05);
    transform: scale(1.08);
}

#makeup-tutorials-container .tutorial-card .card-body {
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 4px solid var(--white);
    /* The blur effect applied to the background behind the element */
    backdrop-filter: blur(5px);
    mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 50%);
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem 1rem 0.6rem;
    /* Ensure content sits above the blur */
    z-index: 2;
}

#makeup-tutorials-container .card-title {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: var(--card-main-text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#makeup-tutorials-container .card-date {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: var(--card-main-text-color);
    text-transform: uppercase;
}

/* ── PHOTO ALBUM CONTENT ── */
#photo-album-container .grid {
    gap: 0.7rem;
}

#photo-album-container .photo-card {
    break-inside: avoid;
    display: block;
    margin: 0 auto 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 0 0;
    cursor: pointer;
}

#photo-album-container .qr-badge {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    background-color: var(--qr-badge-bg-color);
    color: var(--qr-badge-text-color);
    padding: 0.2rem 0.6rem;
    border: 1px solid var(--qr-badge-text-color);
    border-radius: 1rem;
    z-index: 2;
    text-decoration: none;
    opacity: 0.7;
    transition: opacity 0.4s ease;
}

#photo-album-container .qr-badge:hover {
    opacity: 1;
}


.photo-card .qr-badge svg {
    width: 14px;
    height: 14px;
}

.photo-card .qr-badge span {
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.photo-card .card-body {
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 4px solid var(--white);
    /* The blur effect applied to the background behind the element */
    backdrop-filter: blur(5px);
    mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 50%);
    flex-direction: column;
    /* justify-content: flex-end; */
    padding: 2rem 1rem 0.6rem;
    /* Ensure content sits above the blur */
    z-index: 2;
    transition: opacity 0.4s ease;
    opacity: 0;
}

.photo-card:hover .card-body {
    opacity: 1;
}

#photo-album-container .card-title {
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    color: var(--card-main-text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: -0.3rem;
}

#photo-album-container .card-date {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: var(--card-subtext-color);
    text-transform: uppercase;
}






/* ── FOOTER ── */
footer {
    position: absolute;
    bottom: 0;
    /*height: 60px;*/
    width: 100%;
    /* background: var(--footer-bg-color); */
    padding: 30px 0 40px;
    border-top: 2px solid var(--footer-border-color);
}

.footer-content {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content>p {
    color: var(--footer-text-color);
    font-size: 1rem;
    letter-spacing: 0.02em;
}

.footer-content a {
    color: var(--accent);
    text-decoration: none;
}

/* TODO for photo album columns */
@media (max-width: 1300px) {

    .navbar {
        padding: 0 2rem;
    }

    .navbar .nav-links li a {
        padding: 1rem;
    }

    .nav-theme-toggle a {
        margin-left: 1rem;
    }

    .hero {
        margin-top: 160px;
        margin-bottom: 80px;
    }

    .hero,
    #makeup-tutorials-container,
    #photo-album-container {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    #makeup-tutorials-container .grid,
    #photo-album-container .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width:900px) {
    .navbar {
        padding: 0 1rem;
    }

    #makeup-tutorials-container .grid,
    #photo-album-container .grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width:750px) {
    .navbar .nav-links {
        display: none;
    }

    #navigation-menu-btn {
        display: flex;
    }

    .hero {
        margin-top: 160px;
        margin-bottom: 40px;
    }

    .hero,
    #makeup-tutorials-container,
    #photo-album-container {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media (max-width:600px) {
    .hero .hero-sub {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {

    .hero .hero-sub {
        font-size: 0.9rem;
    }

    #makeup-tutorials-container .grid,
    #photo-album-container .grid {
        grid-template-columns: repeat(1, 1fr);
    }


}

/* @media (max-width: 360px) {} */