---
import BaseLayout from "../layouts/BaseLayout.astro";
import { ABOUT_TITLE } from "../lib/constants";
---

<BaseLayout pageTitle={ABOUT_TITLE} />
<section class="hero">
	<h1>About <em>Rika</em></h1>
</section>
