---
import BaseLayout from "../layouts/BaseLayout.astro";
import { MAKEUP_TUTORIALS_TITLE } from "../lib/constants";
---

<BaseLayout pageTitle={MAKEUP_TUTORIALS_TITLE} />
<section class="hero">
	<h1><em>Rika's</em> Makeup Tutorial</h1>
</section>
