---
import BaseLayout from "../layouts/BaseLayout.astro";
import { MAKEUP_TUTORIALS_TITLE } from "../lib/constants";
import TutorialList from "../components/TutorialList.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout
	pageTitle={MAKEUP_TUTORIALS_TITLE}
	pageDescription="Makeup tutorials by Rika on Love and Deepspace game."
/>
<div class="body-wrapper">
	<section class="hero">
		<p class="hero-eyebrow">LOVE AND DEEPSPACE</p>
		<h1 class="hero-title"><em>Rika's</em> Makeup Tutorials</h1>
		<p class="hero-sub">
			It all started with two makeup looks for my MC: a daytime natural
			and a nighttime glam. Then I got bored and started wondering what
			she'd look like in different makeup styles. And that's how I fell
			into the rabbit hole of K-pop-inspired makeup recreations. <br /><br
			/>These tutorials are some of my favourite looks. Click on any of
			them to view step-by-step tutorial on X. And yes, they're also
			serving as backup storage because I ran out of in-game makeup
			template slots.
		</p>
	</section>
	<TutorialList />
	<Footer />
</div>
