---
import BaseLayout from "../layouts/BaseLayout.astro";
import { PHOTO_ALBUM_TITLE } from "../lib/constants";
---

<BaseLayout pageTitle={PHOTO_ALBUM_TITLE} />
<section class="hero">
	<h1><em>Rika's</em> Photo Album</h1>
</section>
