<footer>
    <div class="footer-content">
        <p>
            &copy; <span id="footer-year"></span>
            <a
                href="https://x.com/rikaLADSstudio"
                target="_blank"
                aria-label="Visit rikaLADSstudio on X"
            >
                @rikaLADSstudio
            </a>
        </p>
    </div>
</footer>
