---
import Navigation from "./Navigation.astro";
import SocialHandle from "./SocialHandle.astro";
import NavigationMenu from "./NavigationMenu.astro";
import NavigationMobileMenu from "./NavigationMobileMenu.astro";

const { activePage } = Astro.props;
---

<header>
    <nav>
        <div class="navbar">
            <SocialHandle />
            <NavigationMenu />
            <Navigation activePage={activePage} />
        </div>
        <NavigationMobileMenu activePage={activePage} />
    </nav>
</header>
