---
import Navigation from "./Navigation.astro";
import {
    SWITCH_TO_DARK_MODE_TXT,
    SWITCH_TO_LIGHT_MODE_TXT,
} from "../lib/constants";
const { activePage } = Astro.props;
---

<div id="navigation-mobile-menu">
    <div class="nav-row">
        <button
            aria-expanded="true"
            aria-controls="navigation-mobile-menu"
            aria-label="Close navigation menu"
            id="navigation-close-btn"
        >
            <svg class="icon" viewBox="0 0 24 24" fill="currentColor">
                <use href="#icon-close"></use>
            </svg>
        </button>
    </div>

    <Navigation activePage={activePage} />
    <div class="nav-row">
        <button
            id="mobile-light-mode-btn"
            class="mobile-dark-light-toggle-btn"
            aria-label="Switch to light mode"
            title="Switch to light mode"
            aria-pressed="false"
            style="display: none"
        >
            <svg class="icon" viewBox="0 0 24 24" fill="currentColor">
                <use href="#icon-light-mode"></use>
            </svg>
            <span>{SWITCH_TO_LIGHT_MODE_TXT}</span>
        </button>
        <button
            id="mobile-dark-mode-btn"
            class="mobile-dark-light-toggle-btn"
            aria-label="Switch to dark mode"
            title="Switch to dark mode"
            aria-pressed="false"
            style="display:none"
        >
            <svg class="icon" viewBox="0 0 24 24" fill="currentColor">
                <use href="#icon-dark-mode"></use>
            </svg>
            <span>{SWITCH_TO_DARK_MODE_TXT}</span>
        </button>
    </div>
</div>
