---
import ThemeToggleBtn from "./ThemeToggleBtn.astro";
import {
    PHOTO_ALBUM_TITLE,
    MAKEUP_TUTORIALS_TITLE,
    ABOUT_TITLE,
} from "../lib/constants";
const { activePage } = Astro.props;
---

<ul class="nav-links">
    <li>
        <a
            href="/photoalbum/"
            aria-label="Go to photo album page"
            class={activePage === PHOTO_ALBUM_TITLE ? "active" : ""}
            >PHOTO ALBUM</a
        >
    </li>
    <li>
        <a
            href="/makeuptutorials/"
            aria-label="Go to makeup tutorials page"
            class={activePage === MAKEUP_TUTORIALS_TITLE ? "active" : ""}
            >MAKEUP TUTORIALS</a
        >
    </li>
    <li>
        <a
            href="/about/"
            aria-label="Go to about page"
            class={activePage === ABOUT_TITLE ? "active" : ""}
            >ABOUT</a
        >
    </li>
    <ThemeToggleBtn />
</ul>
