<a
    aria-expanded="false"
    aria-controls="navigation-mobile-menu"
    id="navigation-menu-btn"
>
    <svg class="icon" viewBox="0 0 24 24" fill="currentColor">
        <use href="#icon-menu"></use>
    </svg>
</a>
