<div class="lightbox-inner">
    <!-- 
        <button id="photo-lightbox-close-btn">
            <svg class="icon" viewBox="0 0 24 24" fill="currentColor">
                <use href="#icon-close"></use>
            </svg>
            <span>CLOSE</span>
        </button>
        <
     -->

    <button class="lightbox-close" id="lb-close">
        <svg class="icon" viewBox="0 0 24 24" aria-hidden="true">
            <use href="#icon-close"></use>
        </svg>
        Close
    </button>
    <button
        class="lightbox-nav lightbox-prev"
        id="lb-prev"
        aria-disabled="false"
    >
        <svg class="icon" viewBox="0 0 24 24" aria-hidden="true">
            <use href="#chev-left"></use>
        </svg>
    </button>
    <img class="lightbox-img" id="lb-img" src="./images/003.webp" alt="" />
    <button
        class="lightbox-nav lightbox-right"
        id="lb-next"
        aria-disabled="false"
    >
        <svg class="icon" viewBox="0 0 24 24" aria-hidden="true">
            <use href="#chev-right"></use>
        </svg>
    </button>
    <div class="lightbox-tags" id="lb-tags">
        <span class="lb-tag">F2P Friendly Pose</span><span class="lb-tag"
            >Myth</span>
    </div>
    <div class="lightbox-meta">
        <div class="lightbox-characters" id="lb-characters">
            003&nbsp;<em>•&nbsp;&nbsp;August 2025</em>
        </div>
        <a
            id="lb-qr"
            href="https://x.com/rikaLADSstudio/status/1960735372264267826"
            target="_blank"
            class="lb-qr-btn"
            style="display: inline-flex;"
        >
            <svg class="icon" viewBox="0 0 24 24" aria-hidden="true">
                <use href="#icon-qr"></use>
            </svg>
            Get QR Code
        </a>
        <a
            id="lb-post-link"
            href="#"
            target="_blank"
            class="lb-post-link-btn"
            style="display:none"
        >
            Give This Post Some
            <svg class="icon" viewBox="0 0 512 512" aria-hidden="true">
                <use href="#icon-heart"></use>
            </svg>
        </a>
    </div>
</div>
