<section id="photo-gallery-toolbar">
    <div class="toolbar-left">
        <button
            id="show-filters-btn"
            aria-expanded="false"
            aria-controls="filter-section"
        >
            <svg class="icon" aria-hidden="true" fill="currentColor">
                <use href="#icon-show-filters"></use>
            </svg>
            Show Filters
        </button>
        <button
            id="hide-filters-btn"
            aria-expanded="false"
            aria-controls="filter-section"
        >
            <svg class="icon" aria-hidden="true" fill="currentColor">
                <use href="#icon-hide-filters"></use>
            </svg>
            Hide Filters
        </button>
    </div>
    <div id="total-photo-count" class="total">CALCULATING...</div>
</section>
