---
interface Props {
    index: number;
    name: string;
    alt: string | undefined;
    characterList: string[];
    tags: string[];
    qrPostUrl: string | null;
    mainPostUrl: string | undefined;
}

const { index, name, alt, characterList, tags, qrPostUrl, mainPostUrl } =
    Astro.props;
---

<div
    class="photo-card"
    data-index={index}
    data-characters={characterList.join(",")}
    data-character-count={characterList.length}
    data-tags={tags.join(",")}
    data-has-qr={qrPostUrl !== null}
>
    <a href={`${qrPostUrl ?? mainPostUrl}`} target="_blank">
        <img
            src={`/images/photos/${name}.webp`}
            alt={alt ?? ""}
            onerror="this.onerror=null; this.src='https://placehold.co/800x1140'"
            loading="lazy"
            width="800px"
            height="1140px"
        />
        {
            qrPostUrl && (
                <div class="qr-badge">
                    <svg fill="currentColor">
                        <use href="#icon-qr" />
                    </svg>
                    <span>QR</span>
                </div>
            )
        }
        <div class="card-body">
            <p class="card-title">{name}</p>
            <p class="card-instruction">
                {qrPostUrl ? "Click to Get QR on X" : "Click to View on X"}
            </p>
        </div>
    </a>
</div>
