<div id="preloader">
    <div class="preloader-logo"><span>Rika's</span> Photo Album</div>
    <div class="preloader-track">
        <div id="preloader-bar-fill"></div>
    </div>
    <div class="preloader-text">
        Loading photos &mdash; <span id="preloader-count">0 / 0</span>
    </div>
</div>
