<a
    href="https://x.com/rikaLADSstudio"
    target="_blank"
    aria-label="Visit rikaLADSstudio on X"
    class="nav-x"
>
    <svg
        class="icon"
        viewBox="0 0 24 24"
        aria-hidden="true"
        fill="currentColor"
    >
        <use href="#icon-x"></use>
    </svg>
    <span class="nav-handle">@rikaLADSstudio</span>
</a>
