<div class="nav-theme-toggle">
    <a
        id="theme-toggle-btn"
        aria-label="Toggle dark/light theme"
        title="Toggle dark/light theme"
        aria-pressed="false"
    >
        <svg
            id="theme-icon-sun"
            class="icon"
            viewBox="0 0 24 24"
            aria-hidden="true"
            style="display:none"
            fill="currentColor"
        >
            <use href="#icon-light-mode"></use>
        </svg>
        <svg
            id="theme-icon-moon"
            class="icon"
            viewBox="0 0 24 24"
            aria-hidden="true"
            style="display:none"
            fill="currentColor"
        >
            <use href="#icon-dark-mode"></use>
        </svg>
    </a>
</div>
