---
interface Props {
    thumbnailPath: string;
    title: string;
    postUrl: string;
}

const { thumbnailPath, title, postUrl } = Astro.props;
---

<div class="tutorial-card">
    <a href={`${postUrl}`} target="_blank">
        <img
            src={thumbnailPath}
            alt={title}
            onerror="this.onerror=null; this.src='https://placehold.co/500x400'"
            loading="lazy"
            width="500px"
            height="400px"
        />
        <div class="card-body">
            <p class="card-title">{title}</p>
            <p class="card-instruction">Click to View on X</p>
        </div>
    </a>
</div>
